.header {
	display: flex;
	align-items: center;
	justify-content: space-between;

	app-region: drag;

	&__title {
		display: flex;
		gap: 8px;
		font-size: 20px;
		font-weight: 700;

		svg {
			color: hsl(var(--primary));
		}
	}
}
