.wrapper {
	position: relative;
}

.icon {
	pointer-events: none;

	position: absolute;
	top: 12px;
	left: 12px;

	color: hsl(var(--muted-foreground));
}

.input {
	width: 100%;
	height: 40px;
	padding: 0 12px;
	border: 0.8px solid hsl(var(--border));
	border-radius: 6px;

	font-size: 14px;
	line-height: 20px;
	color: hsl(var(--foreground));

	background-color: hsl(var(--background));
	outline: none;

	&--with-icon {
		padding-left: 36px;
	}

	&:focus-visible {
		box-shadow:
			0 0 0 2px hsl(var(--background)),
			0 0 0 4px hsl(var(--ring));
	}
}
