.history-entry {
	border-width: 1px;
	border-radius: var(--radius);

	&--last-unseen {
		position: relative;
		margin-bottom: 16px;

		&::after {
			content: '';

			position: absolute;
			bottom: -16px;
			left: 0;

			width: 100%;
			border-color: hsl(var(--muted-foreground));
			border-bottom-width: 1px;
		}
	}

	&__main {
		display: grid;
		grid-template:
			'title . info' auto
			'. . .' 12px
			'output-toggle . status' auto
			/ auto minmax(8px, 1fr) auto;
		align-items: center;

		padding: 16px;

		background-color: hsl(var(--muted) / 20%);

		&--active {
			grid-template:
				'title . info' auto
				/ auto minmax(8px, 1fr) auto;
		}
	}

	&__output {
		padding: 12px;
		border-radius: 6px;
		background-color: hsl(var(--muted));

		&-wrapper {
			padding: 16px;
			border-top-width: 1px;
		}
	}
}

.title {
	display: grid;
	grid-area: title;
	grid-template:
		'indicator . name' auto
		'indicator . path' auto
		/ min-content 12px auto;

	&__name {
		cursor: pointer;

		grid-area: name;

		font-size: 16px;
		font-weight: 500;
		line-height: 24px;

		&:hover {
			text-decoration: underline;
		}
	}

	&__path {
		grid-area: path;
		font-size: 14px;
		line-height: 20px;
		color: hsl(var(--muted-foreground));
	}

	&__indicator {
		grid-area: indicator;
		align-self: center;

		width: 8px;
		height: 8px;
		border-radius: 9999px;

		background-color: hsl(var(--muted-foreground));

		&--success {
			background-color: hsl(var(--primary));
			filter: brightness(1.4);
		}

		&--fail {
			background-color: hsl(var(--destructive));
		}
	}
}

.info {
	grid-area: info;

	font-size: 14px;
	line-height: 20px;
	color: hsl(var(--muted-foreground));
	text-align: right;

	&__time {
		display: flex;
		gap: 8px;
		align-items: center;
	}

	&__duration {
		margin-top: 4px;
	}
}

.status {
	grid-area: status;
	place-self: center end;
	align-content: center;

	height: 22px;
	padding: 0 10px;
	border-radius: 9999px;

	font-size: 12px;
	font-weight: 600;
	color: hsl(var(--background));

	background-color: hsl(var(--muted-foreground));

	&--success {
		color: inherit;
		background-color: hsl(var(--primary));
	}

	&--fail {
		color: inherit;
		background-color: hsl(var(--destructive));
	}
}

.output-toggle {
	grid-area: output-toggle;
	justify-self: flex-start;

	&:not(:hover) {
		color: hsl(var(--muted-foreground));
	}

	&--open {
		> svg:last-of-type {
			rotate: 90deg;
		}
	}
}
