.script-content {
	flex: 1;

	&__header {
		font-weight: 500;
	}

	&__text {
		min-width: 100%;
		margin: 0;
		padding: 16px;
		border-radius: 6px;

		font-family:
			ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
			'Liberation Mono', 'Courier New', monospace;
		font-size: 14px;
		line-height: 20px;
		color: hsl(var(--foreground));
		text-wrap: auto;

		background-color: hsl(var(--muted));

		field-sizing: content;

		&:focus-visible {
			outline: 2px solid hsl(var(--ring));
		}
	}
}
