.combobox {
	position: relative;
	width: 100%;

	&__input {
		position: absolute;
		inset: 0;

		input {
			height: 100%;
			border-radius: 6px 6px 0 0;

			&:focus-visible {
				box-shadow: inset 0 0 0 2px hsl(var(--ring));
			}
		}
	}

	&__select {
		border: 0;

		&::picker(select) {
			top: anchor(bottom);
			border-radius: 0 0 6px 6px;
		}

		option {
			&::checkmark {
				display: none;
			}
		}
	}
}
