.anchor {
	position: fixed;
	top: var(--context-anchor-y);
	left: var(--context-anchor-x);

	width: 0;
	height: 0;

	anchor-name: --context-menu-anchor;
}

.menu {
	position: fixed;
	margin: 0;

	position-anchor: --context-menu-anchor;
	position-area: bottom right;
}
