.anchor {
	position: fixed;
	top: var(--context-anchor-y);
	left: var(--context-anchor-x);

	width: 0;
	height: 0;

	anchor-name: --context-menu-anchor;
}

.menu {
	position: fixed;
	transform: translateX(-4px) scale(0.95);

	overflow: visible;

	width: min-content;
	min-width: 128px;
	margin: 0;
	padding: 2px;
	border-width: 1px;
	border-radius: 6px;

	opacity: 0;
	background-color: hsl(var(--background));

	transition: all 150ms allow-discrete;

	position-anchor: --context-menu-anchor;
	position-area: bottom right;
	position-try:
		top right,
		bottom left,
		top left;

	& > * {
		flex-shrink: 0;
	}

	&:popover-open {
		transform: translateY(0) scale(1);
		opacity: 1;

		@starting-style {
			transform: translateX(-4px) scale(0.95);
			opacity: 0;
		}
	}
}
