.scripts {
	display: flex;
	height: 100%;

	&__tree-section {
		width: 300px;
		border-right-width: 1px;

		&-title {
			font-size: 14px;
			font-weight: 600;
			line-height: 20px;
			color: hsl(var(--muted-foreground));
			letter-spacing: 0.35px;
		}

		&-content {
			display: flex;
			flex-direction: column;
		}
	}
}
