.script-dialog {
	display: flex;
	flex-direction: column;
	gap: 16px;

	width: 336px;
	max-width: 100%;

	&__close {
		position: absolute;
		top: 16px;
		right: 16px;
		rotate: 45deg;

		color: hsl(var(--muted-foreground));
	}

	&__name {
		display: inline-flex;
		gap: 8px;

		font-size: 18px;
		font-weight: bold;
		line-height: 20px;
		overflow-wrap: anywhere;
	}

	&__path {
		font-size: 14px;
		line-height: 20px;
		color: hsl(var(--muted-foreground));
		overflow-wrap: anywhere;
	}

	&__actions {
		display: flex;
		gap: 8px;
		align-items: center;
		justify-content: flex-end;
	}

	&__accordion-btn {
		justify-content: space-between;
		padding: 0 8px;

		&--open {
			svg {
				rotate: 90deg;
			}
		}

		&--output {
			margin-top: 8px;
		}
	}

	&__accordion-content {
		margin: 8px 0 0;
		padding: 12px;
		border-radius: 6px;

		font-family:
			ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
			'Liberation Mono', 'Courier New', monospace;
		font-size: 12px;
		line-height: 16px;
		color: hsl(var(--foreground));
		text-wrap: auto;
		word-wrap: break-word;

		background-color: hsl(var(--muted));
	}

	&__output-btn-text {
		display: flex;
		gap: 8px;
		align-items: center;
	}
}

.status-badge {
	align-content: center;

	height: 20px;
	margin-right: auto;
	padding: 0 8px;
	border-radius: 4px;

	font-size: 12px;
	line-height: 1;

	&--success {
		color: rgb(22 163 74);
		background-color: rgb(34 197 94 / 20%);
	}

	&--fail {
		color: rgb(220 38 38);
		background-color: rgb(239 68 68 / 20%);
	}

	&--running {
		color: rgb(37 99 235);
		background-color: rgb(59 130 246 / 20%);
		animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
	}
}

@keyframes pulse {
	50% {
		opacity: 0.5;
	}
}
