*,
::after,
::before,
::backdrop {
	border: 0 solid hsl(var(--border));
}

#root {
	height: 100vh;

	::-webkit-scrollbar {
		width: 6px;
		height: 6px;
	}

	::-webkit-scrollbar-track {
		background: transparent;
	}

	::-webkit-scrollbar-thumb {
		border-radius: 6px;
		background-color: #555;

		&:hover {
			background-color: #666;
		}
	}

	::-webkit-scrollbar-corner {
		background: transparent;
	}
}
