.select {
	cursor: pointer;

	width: 100%;
	height: 36px;
	padding: 0;
	border: 0.8px solid hsl(var(--border));
	border-radius: 6px;

	font-size: 14px;
	font-weight: 400;

	appearance: base-select;
	outline: none;

	&::picker-icon {
		display: none;
	}

	&::picker(select) {
		top: calc(anchor(bottom) + 4px);
		left: 0;

		padding: 4px;
		border: 0.8px solid hsl(var(--border));
		border-radius: 6px;

		color: inherit;

		appearance: base-select;
		background-color: hsl(var(--card));

		&:popover-open {
			transform-origin: top;
			transform: scale(1);
			opacity: 1;
			transition: all 150ms ease-out allow-discrete;

			@starting-style {
				transform: scale(0.95);
				opacity: 0;
			}
		}
	}

	&:focus,
	&:focus-visible {
		box-shadow:
			0 0 0 2px hsl(var(--background)),
			0 0 0 4px hsl(var(--ring));
	}

	&:hover,
	&:focus {
		background: transparent;
	}

	&__chevron {
		position: absolute;
		top: 9px;
		right: 12px;
		opacity: 0.5;
	}

	&__picker {
		padding-right: 30px;
	}

	&__option-content {
		display: flex;
		gap: 8px;
		align-items: center;
	}

	option {
		height: 30px;
		border-radius: 6px;

		font-size: 14px;
		font-weight: 400;
		color: hsl(var(--foreground));

		outline: none;

		&:hover,
		&:active,
		&:focus {
			color: hsl(var(--accent-foreground));
			background-color: hsl(var(--accent));
		}
	}
}
