.output-section {
	flex: 1;

	&__content {
		font-family:
			ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
			'Liberation Mono', 'Courier New', monospace;
	}

	&__placeholder {
		font-size: 14px;
		line-height: 20px;
		color: hsl(var(--muted-foreground));
		text-wrap: balance;
	}
}

.output {
	font-family:
		ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
		'Liberation Mono', 'Courier New', monospace;

	&__line {
		font-size: 14px;
		line-height: 1.625;

		& + & {
			margin-top: 4px;
		}

		&--initial {
			font-weight: 600;
		}

		&--success {
			color: hsl(var(--primary));
		}

		&--error {
			color: hsl(var(--destructive));
		}
	}
}

.header {
	position: relative;

	display: flex;
	gap: 8px;
	align-items: center;

	font-weight: 500;

	&__interrupt {
		position: absolute;
		top: 9.5px;
		right: 8px;
	}

	&__loader {
		margin-left: auto;
	}
}
