.app {
	height: 100%;
	color: hsl(var(--foreground));
	background-color: hsl(var(--background));

	&__content {
		display: flex;

		@include mobile-screen {
			overflow: visible;
			flex-direction: column;
		}
	}

	&__sidebar {
		@include desktop-screen {
			border-right-width: 1px;
		}

		@include mobile-screen {
			border-bottom-width: 1px;
		}
	}

	&__main {
		flex: 1;
		min-height: 0;
	}
}
