.sidebar {
	&__nav {
		display: flex;

		@include desktop-screen {
			flex-direction: column;
			gap: 8px;
			padding: 8px;
		}

		&-button {
			padding: 7px 4px;

			&-text {
				font-size: 12px;
			}
		}
	}
}
