.delete-confirm-dialog {
	&__header {
		font-size: 18px;
		line-height: 28px;
		font-weight: 600;
		display: flex;
		gap: 8px;
		align-items: center;

		svg {
			color: hsl(var(--destructive));
		}
	}

	&__body {
		color: hsl(var(--muted-foreground));
		font-size: 14px;
		line-height: 20px;
		margin-top: 8px;
		margin-bottom: 16px;
	}

	&__actions {
		display: flex;
		justify-content: flex-end;
		gap: 8px;
	}
}
