.delete-confirm-dialog {
	width: 512px;

	&__header {
		display: flex;
		gap: 8px;
		align-items: center;

		font-size: 18px;
		font-weight: 600;
		line-height: 28px;

		svg {
			color: hsl(var(--destructive));
		}
	}

	&__body {
		margin-top: 8px;
		margin-bottom: 16px;

		font-size: 14px;
		line-height: 20px;
		color: hsl(var(--muted-foreground));
	}

	&__actions {
		display: flex;
		gap: 8px;
		justify-content: flex-end;
	}
}
