.placeholder {
	flex: 1;
	align-content: center;
	padding: 16px;

	svg {
		color: hsl(var(--muted-foreground));
	}

	&__title {
		margin-top: 16px;
		font-size: 18px;
		font-weight: 600;
		line-height: 28px;
	}

	&__subtitle {
		margin-top: 8px;

		font-size: 16px;
		line-height: 24px;
		color: hsl(var(--muted-foreground));
		text-wrap: balance;
	}

	&__content {
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
	}
}
