.editor {
	inset: anchor(inside);
	translate: -4px;

	overflow: visible;

	width: anchor-size();
	height: anchor-size();
	padding: 0;

	background-color: transparent;

	position-anchor: --tree-name-editor;

	&::backdrop {
		display: none;
	}

	&__input {
		width: 100%;
		height: 100%;
		padding: 0 4px;
		border-radius: 4px;

		font-size: 14px;
		color: hsl(var(--foreground));

		background-color: hsl(var(--background));
		outline: 2px solid hsl(var(--ring));

		&--folder {
			font-weight: 500;
		}

		&--error {
			border-radius: 4px 4px 0 0;
			outline: 2px solid hsl(var(--destructive));
		}
	}

	&__error {
		width: 100%;
		margin-top: 2px;
		padding: 8px;
		border-radius: 0 0 4px 4px;

		font-size: 14px;
		line-height: 18px;
		color: hsl(var(--destructive));
		text-wrap: balance;

		background-color: hsl(from hsl(var(--destructive)) h s calc(l - 50));
		outline: 2px solid hsl(var(--destructive));
	}
}

.anchor {
	width: 100%;
	height: 20px;

	anchor-name: --tree-name-editor;
}
