.section {
	display: flex;
	flex-direction: column;

	&--card {
		border-width: 1px;
		border-radius: 8px;
	}

	&__header {
		padding: 16px;
		border-bottom-width: 1px;
		white-space: nowrap;
	}

	&__content {
		overflow: auto;
		flex: 1;
		min-height: 0;
		padding: 16px;

		&--no-padding {
			padding: 0;
		}
	}
}
