.dialog {
	position: relative;
	transform: translateY(2%) scale(0.95);

	max-width: calc(100% - 16px);
	padding: 24px;
	border-width: 0.8px;
	border-radius: var(--radius);

	color: hsl(var(--foreground));

	opacity: 0;
	background-color: hsl(var(--background));
	outline: none;

	transition: all 150ms allow-discrete;

	&::backdrop {
		background-color: rgb(0 0 0 / 0%);
		transition: all 150ms allow-discrete;
	}

	&[open] {
		transform: translateY(0) scale(1);
		opacity: 1;

		@starting-style {
			transform: translateY(2%) scale(0.95);
			opacity: 0;
		}

		&::backdrop {
			background-color: rgb(0 0 0 / 80%);

			@starting-style {
				background-color: rgb(0 0 0 / 0%);
			}
		}
	}
}

body:has(dialog[open]) {
	overflow: hidden;
}
